<%
#
# This file is part of meego-test-reports
#
# Copyright (C) 2010 Nokia Corporation and/or its subsidiary(-ies).
#
# Authors: Jussi Jokinen <jussijokinen@iki.fi>
#          Sami Hangaslammi <sami.hangaslammi@leonidasoy.fi>
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU Lesser General Public License
# version 2.1 as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
# Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public
# License along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
# 02110-1301 USA
#
%>
<div id="index_page">
<%= breadcrumbs %>

<% content_for :version_navi do %>
  <div id="version_navi">
	<%= release_version_navigation(@selected_release_version, @target, @testtype, @hwproduct) %>
  </div>
<% end %>


<table id="report_filtered_navigation" class="filtered">
    <thead>
    <tr>
      <th scope="col" class="filtered"><%=@target%></th>
    </tr>
    </thead>
    <tr>
      <td class="filtered">	  
     <% if @trend_graph_url_abs %>
      	  <div class="chart_actions stack_chart">
                <div id="abs_trend">
                  <img src="<%=@trend_graph_url_abs%>" />
                </div>
                <div id="rel_trend" style="display:none;">
                  <img src="<%=@trend_graph_url_rel%>" />
                </div>
	      	  <a id="abs_button" class="ui_btn inactive">Absolute values</a>
	      	  <a id="rel_button" class="ui_btn">Relative %</a>
      	  </div>
      <% end %>
      	  <%= render :partial=>'month', :collection => @headers %>
      	  
      </td>
    </tr>
   
</table>
</div>
<% if @trend_graph_url_abs %>
<script language="javascript" type="text/javascript">
$(document).ready(function(){
  $("#abs_button").click(function(){
    $("#abs_button").addClass("inactive");
    $("#rel_button").removeClass("inactive");
    $("#abs_trend").show();
    $("#rel_trend").hide();
  });

  $("#rel_button").click(function(){
    $("#abs_button").removeClass("inactive");
    $("#rel_button").addClass("inactive");
    $("#abs_trend").hide();
    $("#rel_trend").show();
  });
});
</script>
<% end %>
