<tr class="testcase<%= " has_changes" if testcase.changed %>" style="<%= 'display:none;' if !testcase.changed%>">
  <td char="testcase_name"><%=testcase.name%></td>
  <td class="testcase_result <%=result_class(testcase.left)%>"><%=result_html(testcase.left)%></td>
  <td class="testcase_notes"><%= comment_html(testcase.left) %></td>
  <td class="testcase_result <%=result_class(testcase.right)%>"><span <%='class="changed_result"' if testcase.changed %>><%=result_html(testcase.right)%></span></td>
  <td class="testcase_notes"><%= comment_html(testcase.right) %></td>
</tr>
