<%
#
# This file is part of meego-test-reports
#
# Copyright (C) 2010 Nokia Corporation and/or its subsidiary(-ies).
#
# Authors: Jussi Jokinen <jussijokinen@iki.fi>
#          Sami Hangaslammi <sami.hangaslammi@leonidasoy.fi>
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU Lesser General Public License
# version 2.1 as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
# Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public
# License along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
# 02110-1301 USA
#
%>

<% content_for :page_header do %>
	<%= render :partial => "page_header" %>
<% end %>

<% content_for :wizard_progress do %>
<div id="wizard_progress" class="page_header">
	<strong>Publish test report:</strong>
    <span id="wizard_finalize"><span id="upload">Upload</span> <strong>&raquo;</strong> <span id="finalize">Finalize</span> <strong>&raquo;</strong> <span id="publish">Publish</span></span>
</div>
<% end %>

<% content_for :notification_area do %>
	<div class="notification">Fill in the remaining information and finalize the report.</div>
<% end %>

<% content_for :table_of_contents do %>
	<%= render :partial => "toc" %>
<% end %>

<% content_for :meta_info do %>
<div id="meta_info">
	<dl>
		<dt>Author:</dt>
		<dd>John Longername</dd>
		<dt>Last modified by:</dt>
		<dd>Jane Doe, 24th November 2010</dd>
		<dt>Test execution date:</dt>
		<dd>23th October 2010</dd>
	</dl>
</div>
<% end %>

<% content_for :result_edit_notification do %>
	<%= render :partial => "result_edit_notification" %>
<% end %>

<% content_for :wizard_actions do %>
<div id="wizard_actions">
  <div id="wizard_buttons">
      <!--<input id="cancel-publish" type="button" class="big_btn cancel" value="Cancel" />-->
	<form action="<%=url_for :controller=>'reports', :action=>'delete', :release_version=>@selected_release_version, :target=>@test_session.target, :testtype=>@test_session.testtype, :hwproduct=>@test_session.hwproduct, :id=>@test_session.id %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
	<input class="id_field" type="hidden" name="id" value="<%=@test_session.id%>" />
	<input id="cancel-publish" class="big_btn cancel" type="submit" value="Cancel"/>
	</form>
    <form method="post" action="<%=url_for :controller => 'reports', :action => 'publish' %>">
      <input type="hidden" name="authenticity_token" value="<%=    form_authenticity_token %>" />
      <input type="hidden" name="report_id" value="<%=@test_session.id%>"/>
      <input type="submit" id="upload_report_submit" value="Publish" class="big_btn submit" />
    </form>
  </div>
</div>
<% end %>

<% content_for :inplace_edit_templates do %>
	<%= render :partial => "inplace_edit_templates" %>
<% end %>

<% content_for :view_specific_js do %>
<script language="javascript" type="text/javascript">
$(document).ready(function(){
	linkEditButtons();
	fetchBugzillaInfo();
});
</script>
<% end %>
