<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--
/*
 * This file is part of meego-test-reports
 *
 * Copyright (C) 2010 Nokia Corporation and/or its subsidiary(-ies).
 *
 * Authors: Jussi Jokinen <jussijokinen@iki.fi>
 *			Sami Hangaslammi <sami.hangaslammi@leonidasoy.fi>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public License
 * version 2.1 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
 * 02110-1301 USA
 *
 */
-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Meego Test Reports</title>
<%= stylesheet_link_tag :all %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"%>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"%>
<%= javascript_include_tag 'application'%>
<%= csrf_meta_tag %>
</head>
<body>
<a name="top"></a>
<div id="wrapper">
  <div id="header">
  	<div id="logo">
  	  <h3><a href="<%=url_for :controller=>'reports', :action=>'index'%>">MeeGo | QA Reports</a></h3>
  	</div>
	
	<%= render :partial => "upload_link" %>
  </div>
  <div id="page">

	<%= yield %>

  </div>
  <div id="footer">
  	
  </div>
</div>

</body>
</html>
