<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--
/*
 * This file is part of meego-test-reports
 *
 * Copyright (C) 2010 Nokia Corporation and/or its subsidiary(-ies).
 *
 * Authors: Jussi Jokinen <jussijokinen@iki.fi>
 *			Sami Hangaslammi <sami.hangaslammi@leonidasoy.fi>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public License
 * version 2.1 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
 * 02110-1301 USA
 *
 */
-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=8"/>
  <title>MeeGo QA Reports</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
  <%= yield :view_specific_js_head %>  
</head>
<body>
<a name="top"></a>

<div id="wrapper">
  <%= yield :page_header %>

  <%= yield :version_navi %>

  <div id="page">
    <%= yield :breadcrumbs %>

    <%= yield :wizard_progress %>

    <%= (out=yield :page_content)!='' ? out : render(:partial => 'page_content') %>

    <%= yield :inplace_edit_templates %>

    <%= yield :delete_dialog %>

  </div>
  <div id="footer">

  </div>
</div>

<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js" %>
<%= javascript_include_tag 'application' %>
<%= yield :view_specific_js %>

</body>
</html>
